@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px */
  /* line-height: 1.6rem; */
  /* font-size: 100%; */
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(320deg, #3bae8b, #229245);
  border-radius: 10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  z-index: 10000;
  transition: opacity 1.25s, visibility 1.25s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #199844;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 95%;
}

/* Header */
#header {
  width: 200px;
}
.header__element {
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 81%, 0.3);
  backdrop-filter: blur(2px);
}
.header__close {
  font-size: 3rem;
  text-align: right;
  display: none;
}

.header__close i {
  padding: 20px;
}

.header__logo {
  margin-bottom: 40px;
  text-align: center;
  font-size: 29px;
}

.header__logo a {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: #18453b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo a img {
  width: 100px;
  object-fit: contain;
}

.header__logo a span {
  background-image: url(/assets/img/360_f.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
}

.header__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav-list {
  list-style: none;
  margin-top: 12px;
}

.header__nav-list li {
}

.header__nav-list li a {
  display: block;
  padding: 16px 6px;
  color: rgba(51, 51, 51, 0.5);
  text-decoration: none;
  font-size: 1.6rem;
}

.header__nav-list li a:hover {
  color: #fff;
  background: linear-gradient(320deg, #1b4d3e, #18453b);
  border-radius: 20px;
}

.header__nav-list li a i {
  margin: 0 10px;
}
.header__nav-log {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.4rem;
}

.header__nav-log a {
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 12px;
}

.header__nav-log a:hover {
  color: #199844;
}

/* -----------------------header responsive ----------------------- */
#header__responsive {
  background: hsl(0, 0%, 81%, 0.3);
  backdrop-filter: blur(2px);
  height: 6.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 3rem;
  padding: 0 25.6px;
  box-shadow: 0 0 10px #888;
  display: none;
}

#header__responsive.sticky {
  background: #fff;
}
.header__responsive-btn {
  padding: 0 12px;
}
.header__responsive-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__responsive-img img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}

.header__responsive-img span {
  background-image: url(/assets/img/360_f.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
}
.header__responsive-package {
  position: relative;
  border: none;
  display: block;
  font-size: 3rem;
  height: 100%;
  padding: 0 12px;
  background: transparent;
}

.header__responsive-package span {
  position: absolute;
  top: 10px;
  right: -6px;
  background-color: #86dc72;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4rem;
}

/* -----------Content-------------- */
#content {
  width: calc(100% - 200px);
  padding-left: 40px;
}
/* ------------------------Exchange------------------------- */
#exchange {
  padding-bottom: 50px;
}
.exchange__container {
  background: url(/assets/img/bgexchange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
}

.exchange__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0deg 0% 81% / 97%);
  padding: 40px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d483e;
  box-shadow: 12px 10px;
}
.exchange__info-tittle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.exchange__info-phara {
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: justify;
}
.exchange__info-next {
  background: green;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  margin: auto;
  border-radius: 20px;
  transition: all ease-in 0.2s;
}
.exchange__info-next a {
  color: #fff;
  text-decoration: none;
  padding: 12px;
}

.exchange__info-next:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* --------------------Private tree --------------------- */
#exchange__tree {
  justify-content: center;
  padding: 40px 0;
}

.exchange__tree-tittle {
  font-size: 4.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
  color: #1d483e;
}
.exchange__wrap-item {
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #77b777;
  border-radius: 50%;
  top: 50%;
  left: -11%;
  transition: all ease-in 0.3s;
}
.exchange__wrap-item img {
  width: 35%;
  height: 180px;
  border-radius: 20px;
  margin-left: 28px;
  box-shadow: -12px 12px #dddddd;
}
.exchange__wrap-info {
  width: 65%;
  z-index: 2;
}

.exchange__wrap-info h1 {
  color: #1b4d3e;
  font-size: 3.3rem;
  margin-bottom: 14px;
}
.exchange__wrap-info p:nth-of-type(1) {
  font-size: 1.6rem;
  margin-bottom: 14px;
}
.exchange__wrap-info p:nth-of-type(2) {
  font-size: 1.6rem;
  margin-bottom: 14px;
}

.exchange__wrap-info p:nth-of-type(2) span {
  color: #1b4d3e;
  font-size: 2rem;
  font-weight: 600;
}

.exchange__wrap-info button {
  border: 1px solid #1b4d3e;
  color: #1b4d3e;
  background: transparent;
  padding: 12px;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 56%;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.exchange__wrap-item:hover .circle {
  transform: scale(12);
}

.exchange__wrap-item:hover .exchange__wrap-info button {
  background: #fff;
}

/* -----------------------Footer---------------------------- */
#footer {
  background-color: #386d78;
  color: #fff0d8;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 60px 20px;
  flex-wrap: nowrap;
}

.footer__col1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__fhead {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 12px;
  font-size: 3.4rem;
}

.footer__fhead i {
  font-size: 4.6rem;
  margin-right: 12px;
}

.footer__connect {
  font-size: 2.2rem;
  color: #199844;
}

.footer__connect i {
  margin-right: 20px;
}

.footer__connect i:hover {
  cursor: pointer;
  color: #51b27b;
}

.footer__col1 button {
  width: 50%;
  padding: 12px 0;
  text-align: center;
  font-size: 2rem;
  margin-top: 12px;
  border-radius: 12px;
  border: none;
  background: #199844;
  color: #fff0d8;
  transition: all linear 0.2s;
}

.footer__col1 button:hover {
  color: #fff;
  background-color: #51b27b;
  cursor: pointer;
}

.footer__col2 {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
}

.footer__link {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}

.footer__link a {
  padding: 6px;
  text-decoration: none;
  color: #fff0d8;
}

.footer__col3 {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.footer__col3 h2 {
  font-size: 3rem;
}

.footer__col3 .footer__makeby {
  font-size: 1.4rem;
  margin: 6px 0 20px 0;
}

.footer__col3 .footer__makeby a {
  color: inherit;
  text-decoration: none;
}

.footer__info {
  padding: none;
}

.footer__info p {
  font-size: 2rem;
  padding: 3px 0;
}

@media screen and (min-width: 1024px) {

  .exchange__info{
    font-size: 2rem;
  }
  .exchange__info-tittle{
    font-size: 4rem
  }
  .exchange__info-phara{
    letter-spacing: 2px;
  }

  .exchange__info-next{
    width: 50%;
  }

  #footer {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px;
    flex-wrap: wrap;
  }

  .footer__col1 {
    width: 30%;
  }

  .footer__col2 {
    flex-direction: column;
    width: 70%;
  }

  .footer__link {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .footer__link a{
    padding: 6px;
  }
}

/* ------------------------- Scroll to top --------------------- */
#scrolltop {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 30px;
  right: 36px;
  background: #eee;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
}

.top-button {
  text-decoration: none;
  cursor: pointer;
  color: #51b27b;
}

.top-button i {
  font-size: 2.5rem;
  padding: 6px 14px;
}
