* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(/assets/img/bgLogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}
/* ------------------------- Scroll to home --------------------- */
#backhome {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  top: 30px;
  left: 36px;
  background: #eee;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
}

.return-button {
  text-decoration: none;
  cursor: pointer;
  color: #51b27b;
}

.return-button i {
  font-size: 1.5rem;
  padding: 6px 14px;
}

/* ----------------------------Login--------------------------- */
.modal {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
  animation: fadeIn ease-in 0.2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.open {
  display: block;
}
.container {
  position: absolute;
  max-width: 430px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}
.container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.container.active .forms {
  height: 600px;
}
.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 35%;
  background-color: #51b27b;
  border-radius: 25px;
}
.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) {
  border-bottom-color: #16ca64;
}
.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i {
  color: #16ca64;
}
.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}
.checkbox-content input {
  margin-right: 10px;
  accent-color: #51b27b;
}
.form .text {
  color: #333;
  font-size: 14px;
}
.form a.text {
  color: #51b27b;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form .button {
  margin-top: 35px;
}
.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #51b27b;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover {
  background-color: #16ca64;
}
.form .login-signup {
  margin-top: 30px;
  text-align: center;
}
