@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1rem = 10px */
  /* line-height: 1.6rem; */
  /* font-size: 100%; */
}

hr {
  background-color: #333;
  height: 2.5px;
  margin: 31px 0;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(320deg, #3bae8b, #229245);
  border-radius: 10px;
}

body {
  /* background-color: #858e99; */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  z-index: 10000;
  transition: opacity 1.25s, visibility 1.25s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #199844;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 95vw;
}

/* ---------------------Header -------------------*/
#header {
  width: 200px;
}

.header__element {
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 81%, 0.3);
  backdrop-filter: blur(2px);
}
.header__close {
  font-size: 3rem;
  text-align: right;
  display: none;
}

.header__close i {
  padding: 20px;
}
.header__logo {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 29px;
}

.header__logo a {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: #18453b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo a img {
  width: 100px;
  object-fit: contain;
}

.header__logo a span {
  background-image: url(/assets/img/360_f.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
}

.header__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav-list {
  list-style: none;
  margin-top: 12px;
}

.header__nav-list li {
}

.header__nav-list li a {
  display: block;
  padding: 16px 6px;
  color: rgba(51, 51, 51, 0.5);
  text-decoration: none;
  font-size: 1.6rem;
}

.header__nav-list li a:hover {
  color: #fff;
  background: linear-gradient(320deg, #1b4d3e, #18453b);
  border-radius: 20px;
}

.header__nav-list li a i {
  margin: 0 10px;
}
.header__nav-log {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.4rem;
}

.header__nav-log a {
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 12px;
}

.header__nav-log a:hover {
  color: #199844;
}
/* -----------------------header responsive ----------------------- */
#header__responsive {
  background: hsl(0, 0%, 81%, 0.3);
  backdrop-filter: blur(2px);
  height: 6.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 3rem;
  padding: 0 25.6px;
  box-shadow: 0 0 10px #888;
  display: none;
}

#header__responsive.sticky {
  background: #fff;
}
.header__responsive-btn {
  padding: 0 12px;
}
.header__responsive-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__responsive-img img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}

.header__responsive-img span {
  background-image: url(/assets/img/360_f.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
}
.header__responsive-package {
  position: relative;
  border: none;
  display: block;
  font-size: 3rem;
  height: 100%;
  padding: 0 12px;
  background: transparent;
}

.header__responsive-package span {
  position: absolute;
  top: 10px;
  right: -6px;
  background-color: #86dc72;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1.4rem;
}

/* ------------------- Slider ------------------------ */
#content {
  width: calc(100% - 200px);
  padding-left: 40px;
}

#slider {
  display: flex; /* width: calc(100% - 200px); */
  flex: 1;
  justify-content: space-between;
}

.swiper-wrapper {
  /* display: block; */
}

.slider__container {
  height: 333px;
  background: hsl(0, 0%, 81%, 0.3);
  backdrop-filter: blur(2px);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 0; */
}

.slider__img img {
  width: 100%;
  /* height: 100%; */
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 12px;
}

.slider__content-title {
  font-family: Lobster, cursive;
  font-size: 2.7rem;
  margin-bottom: 30px;
  color: rgba(51, 51, 51, 0.8);
}

.slider__content-title span {
  color: #199844;
}

.slider__content-phara {
  /* font-family: Lobster,cursive; */
  /* margin-bottom: 40px; */
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 40px;
  line-height: 1.4;
  font-size: 1.6rem;
}

.slider__content-message {
  color: #333;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.slider__content-btn {
  width: 50%;
  /* height: 50px; */
  color: #fff;
  font-size: 1.8rem;
  border-radius: 20px;
  background: linear-gradient(to left, #199844, #18453b, #199844);
  background-size: 200%;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 14px;
}

.slider__content-btn:hover {
  background-position: right;
}

/* ------------------------- Package ---------------------- */
#package {
  height: 333px;
  background: #eee;
  backdrop-filter: blur(2px);
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
}

.package__item {
  display: flex;
  /* background: hsl(0, 0%, 81%, 0.3); */
  /* width: 30%; */
  /* margin-bottom: 20px; */
}
.package__logo {
  background: hsl(0, 0%, 81%, 0.3);
  padding: 12px;
  border-radius: 12px;
  width: 30%;
  text-align: center;
}
.package__logo i {
  font-size: 3.8rem;
  /* color: rgb(249 0 0 / 61%); */
  color: #18453b;
}
.package__info {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 2rem;
  justify-content: space-around;
}
.package__info-titlle {
  font-size: 2rem;
  font-weight: 500;
}
.package__info-quantity {
  font-size: 1.8rem;
  font-weight: 700;
}

/* ---------------------------- Feature ------------------------ */
#feature {
  display: flex;
  align-items: center;
  margin-top: 24px;
  background-color: #ebfbee;
  padding-top: 38px;
  padding: 50px 20px 50px 20px;
  border-radius: 20px;
}

.feature__item {
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  font-size: 1.25rem;
  min-height: min-content;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.feature__item:hover {
  transform: translateY(-2rem);
}
.feature__item-icon {
  color: #40c057;
  font-size: 4rem;
}

.feature__item-icon i {
  /* font-size: inherit; */
}

.feature__item h1 {
  color: #40c057;
  margin: 8px 0 20px;
  /* font-size: 1.25rem; */
}
.feature__item-phara {
  padding: 12px 0 20px;
  line-height: 1.6;
  text-align: center;
  font-size: 1.6rem;
}

.feature__item a {
  position: relative;
  padding-bottom: 4px;
}

.feature__item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background-color: #40c057;
  transform: scale(0, 1);
  transition: transform ease 0.3s;
}

.feature__item a:hover::after {
  transform: scale(1, 1);
}

/* ----------------------------Benefit------------------------- */
#benefit {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 44px 20px;
  margin-top: 24px;
  border-radius: 20px;
}

.benefit__img {
  height: 450px;
  display: flex;
  justify-content: center;
}

.benefit__img img {
  width: 100%;
}

.benefit__info {
  background-color: #fff;
  padding: 50px 50px 32px 50px;
  /* margin-right: 20px; */
  box-shadow: 2px 2px 6px 0 #0000004a;
  text-align: justify;
}

.benefit__info h1 {
  font-weight: 1000000;
  font-size: 3.5rem;
  font-family: "Mulish";
}

.benefit__info p {
  margin: 12px 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.benefit__list {
  list-style: none;
  margin: 12px 0;
  font-size: 1.6rem;
}

.benefit__list li {
  font-weight: bolder;
  padding: 12px 0;
}

.benefit__list li i {
  background-color: green;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
  margin-right: 8px;
}

.benefit__btn {
  display: flex;
  justify-content: center;
  left: 50px;
  bottom: 32px;
  /* position: absolute; */
  right: 50px;
}

.benefit__btn a {
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  padding: 12px;
  border-radius: 11px;
  background-color: #fff;
  color: #199844;
  border: 1px solid #199844;
  transition: all ease-in 0.2s;
}

.benefit__btn a:hover {
  background-color: green;
  color: #fff;
}

/* ------------------------Reason---------------------------------- */
#reason {
  margin: 20px 0;
  background-color: #eee;
  padding: 44px 20px;
  justify-content: center;
  border-radius: 20px;
}

#reason h1 {
  text-align: center;
  font-family: "MULISH";
  font-size: 3rem;
}

#reason .reason__phara {
  color: #333;
  padding-top: 16px;
  text-align: center;
  line-height: 2rem;
  font-size: 1.6rem;
}
.reason__container {
  display: flex;
  align-items: center;
  margin-top: 36px;
}
.reason__video {
  /* width: 50%; */
}

.reason__video iframe {
  width: 100%;
  height: 380px !important;
  border-radius: 10px;
}

.reason__content {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding: 20p;
}
.reason__content-list {
  display: flex;
  margin: 24px 12px;
}
.reason__content-item {
  margin: 0px 16px;
  width: 50%;
}

.reason__content-item i {
  font-size: 24px;
  padding: 17px;
  background: green;
  color: #fff;
  border-radius: 50%;
}

.reason__content-item h2 {
  font-size: 2.1rem;
  margin: 12px 0;
}

.reason__content-item p {
  text-align: left;
  font-size: 1.4rem;
}

/* -----------------------Footer---------------------------- */
#footer {
  background-color: #386d78;
  color: #fff0d8;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 60px 20px;
  flex-wrap: nowrap;
}

.footer__col1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__fhead {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 12px;
  font-size: 3.4rem;
}

.footer__fhead i {
  font-size: 4.6rem;
  margin-right: 12px;
}

.footer__connect {
  font-size: 2.2rem;
  color: #199844;
}

.footer__connect i {
  margin-right: 20px;
}

.footer__connect i:hover {
  cursor: pointer;
  color: #51b27b;
}

.footer__col1 button {
  width: 50%;
  padding: 12px 0;
  text-align: center;
  font-size: 2rem;
  margin-top: 12px;
  border-radius: 12px;
  border: none;
  background: #199844;
  color: #fff0d8;
  transition: all linear 0.2s;
}

.footer__col1 button:hover {
  color: #fff;
  background-color: #51b27b;
  cursor: pointer;
}

.footer__col2 {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
}

.footer__link {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}

.footer__link a {
  padding: 6px;
  text-decoration: none;
  color: #fff0d8;
}

.footer__col3 {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.footer__col3 h2 {
  font-size: 3rem;
}

.footer__col3 .footer__makeby {
  font-size: 1.4rem;
  margin: 6px 0 20px 0;
}

.footer__col3 .footer__makeby a {
  color: inherit;
  text-decoration: none;
}

.footer__info {
  padding: none;
}

.footer__info p {
  font-size: 2rem;
  padding: 3px 0;
}

@media screen and (min-width: 1024px) {
  #footer {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px;
    flex-wrap: wrap;
  }

  .footer__col1 {
    width: 30%;
  }

  .footer__col2 {
    flex-direction: column;
    width: 70%;
  }

  .footer__link {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .footer__link a{
    padding: 6px;
  }
}


/* ------------------------- Scroll to top --------------------- */
#scrolltop {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in;
  position: fixed;
  bottom: 30px;
  right: 36px;
  background: #eee;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
}

.top-button {
  text-decoration: none;
  cursor: pointer;
  color: #51b27b;
}

.top-button i {
  font-size: 2.5rem;
  padding: 6px 14px;
}
